/* TAG SELECTORS */

body {
    background-color: #EAF6F6;
}

hr {
    /* background-color: white; */
    /* overwriting browser's default CSS*/
    /* by adding border style to none, border's width of 1px is also removed, so we need to restore that width */
    /* go to browser's default css anf check for  */
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 2px;
    width: 10%;
    /* height: 2px; */
}

h1,
h2,
h3 {
    color: #66BFBF;
}


/* CLASS SELECTORS */

.circular {
    border-radius: 100%;
}

.link:hover {
    font-size: 105%;
}


/* ID SELECTORS */